.nav-bar {
	background-color: #D53600;
	color: #fff;
	flex: 1 1 auto;
	padding: 2em;
	@media screen and (max-width: 812px){
		margin-top: -0.2em;
		width: 100vw;
		padding: 0;
	}
}

.nav-bar-title {
	font-size: 2.5em;
	@media screen and (max-width: 812px){
		font-size: 1.5em;
		padding: 0.7em 0.2em;
	}
}

.nav-bar-container {
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.nav-login {
	background: #48c24d;
}

.nav-register {
	background: #FF8503;
}