.nav-bar {
	background-color: #D53600;
	color: #fff;
	flex: 1 1 auto;
	padding: 2em;
	@media screen and (max-width: 812px){
		width: 100vw;
		padding: 0;
	}
}

.nav-bar-title {
	@media screen and (max-width: 812px){
		padding: 0.7em;
	}
}

.nav-bar-container {
	position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-buttons {
	width: 100%;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: flex-end;
	@media screen and (max-width: 812px){
		display: none;
	}
}

.nav-button {
	padding: 0.2em 2em;
	font-size: 1em;
	border-radius: 1em;
	margin-left: 0.5em;
}

.nav-login {
	background: #4caf50;
}

.nav-register {
	background: #FF8503;
}